<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Personal</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 ">
      <div class="flex-grow-1">
        <table class="table">
          <tbody>
          <tr>
            <th class="w-20" scope="row"><i class="fas fa-address-card"></i> </th>
            <td>Pimple Guarav, Pune - 411069</td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-mail-bulk"></i></th>
            <td><a href="mailto:name@email.com">wayal.rajani@gmail.com</a></td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone"></i> </th>
            <td>+91 9898776665</td>
          </tr>

          <tr>
            <th scope="row"><i class="fas fa-birthday-cake"></i> </th>
            <td>08/08/1991</td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-female"></i></th>
            <td>Female</td>
          </tr>

          <tr>
            <th scope="row"><i class="fas fa-language"></i></th>
            <td>English, Hindi, Marathi</td>
          </tr>
         </tbody>
        </table>

      </div>

    </div>
  </div>
</section>
