<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let data of
    rowData">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{data.degree}}</h3>
        <div class="subheading mb-3">{{data.university}}</div>
        <p>{{data.grade}}</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">{{data.year}}</span></div>
    </div>
  </div>
</section>
