<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Standard</th>
        <th scope="col">Board/University</th>
        <th scope="col">Year</th>
        <th scope="col">Remarks</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowData">
        <th scope="row">{{data.degree}}</th>
        <td>{{data.university}}</td>
        <td>{{data.year}}</td>
        <td>{{data.grade}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
